html {
  box-sizing: border-box; }

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1a1a1a; }
  body .header {
    background-color: #1a1a1a; }
    body .header .nav {
      padding: 0% 2%;
      margin: 0%;
      margin-top: 2%;
      background-color: #1a1a1a; }
      body .header .nav .main-nav {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; }
        body .header .nav .main-nav .top {
          padding-left: 10%;
          flex: 1;
          display: flex; }
          body .header .nav .main-nav .top .logo a {
            text-decoration: none;
            display: flex;
            align-items: center;
            margin: 0%; }
            body .header .nav .main-nav .top .logo a h1 {
              margin: 0%;
              color: white; }
              body .header .nav .main-nav .top .logo a h1 i {
                color: white;
                margin: 0%; }
        body .header .nav .main-nav .bottom {
          padding-bottom: 1%;
          display: flex;
          justify-content: center; }
          body .header .nav .main-nav .bottom .left-links {
            flex: 4;
            display: flex;
            align-items: center;
            justify-content: flex-end; }
            body .header .nav .main-nav .bottom .left-links a {
              display: flex;
              padding: 0% 1%;
              text-decoration: none;
              color: white;
              font-weight: bold;
              font-size: 1.2rem; }
            body .header .nav .main-nav .bottom .left-links .current {
              color: lightskyblue; }
          body .header .nav .main-nav .bottom .socials {
            flex: 1;
            margin: 0%;
            padding: 0% 0%;
            display: flex;
            justify-content: center;
            align-items: center; }
            body .header .nav .main-nav .bottom .socials a {
              margin: 1%;
              margin-bottom: 0%;
              background-color: white;
              border-radius: 5px;
              transition: ease-in .1s; }
              body .header .nav .main-nav .bottom .socials a:hover {
                background-color: #1a1a1a; }
              body .header .nav .main-nav .bottom .socials a i {
                padding: 0.3rem 0.7rem;
                color: black;
                transition: ease-in .1s; }
                body .header .nav .main-nav .bottom .socials a i:hover {
                  color: lightskyblue; }
  body .banner {
    height: 60vh;
    background: url(../img/bed-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .banner .banner-text {
      margin-top: 15vh; }
      body .banner .banner-text .accent-title {
        margin: 0%;
        text-align: center;
        border-radius: 50px; }
        body .banner .banner-text .accent-title h1 {
          color: black; }
          body .banner .banner-text .accent-title h1 span {
            color: black; }
      body .banner .banner-text .main-title h1 {
        color: black; }
  body .cards {
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70%;
    margin: 1% 0%;
    position: relative; }
    body .cards .card-1 {
      margin: 1%;
      flex: 1;
      padding: 5% 5%;
      background-color: rgba(26, 26, 26, 0.9);
      display: flex;
      align-items: center;
      height: 12vh;
      box-shadow: 1px 1px 9px;
      transition: ease-out .3s;
      flex-direction: column; }
      body .cards .card-1:hover {
        box-shadow: 1px 1px 9px lightskyblue;
        cursor: pointer; }
      body .cards .card-1 i {
        color: white; }
      body .cards .card-1 p {
        padding: 3% 0%;
        color: white; }
    body .cards .card-2 {
      margin: 1%;
      height: 12vh;
      display: flex;
      flex: 1;
      box-shadow: 1px 1px 9px;
      padding: 5% 5%;
      background-color: rgba(26, 26, 26, 0.9);
      align-items: center;
      transition: ease-out .3s;
      flex-direction: column; }
      body .cards .card-2:hover {
        box-shadow: 1px 1px 9px lightskyblue;
        cursor: pointer; }
      body .cards .card-2 i {
        color: white; }
      body .cards .card-2 p {
        color: white; }
    body .cards .card-3 {
      margin: 1%;
      height: 12vh;
      flex: 1;
      box-shadow: 1px 1px 9px;
      padding: 5% 5%;
      background-color: rgba(26, 26, 26, 0.9);
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: ease-out .3s; }
      body .cards .card-3:hover {
        box-shadow: 1px 1px 9px lightskyblue;
        cursor: pointer; }
      body .cards .card-3 i {
        color: white; }
      body .cards .card-3 p {
        color: white; }
  body .content {
    padding-bottom: 5%;
    padding: 2%;
    margin: 2%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 9px lightskyblue;
    width: 80%;
    align-self: center;
    background-color: #1a1a1a; }
    body .content h1 {
      width: 100%;
      margin: 1%;
      color: white; }
    body .content .item {
      margin: 2%;
      margin-bottom: 5%;
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse; }
      body .content .item .img-wrapper {
        width: 100%; }
        body .content .item .img-wrapper img {
          width: 100%; }
      body .content .item .item-text {
        padding: 1%; }
        body .content .item .item-text h1 {
          color: white;
          margin: 0%; }
        body .content .item .item-text p {
          color: white; }
    body .content .item-2 {
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse; }
      body .content .item-2 .img-wrapper {
        width: 100%; }
        body .content .item-2 .img-wrapper img {
          width: 100%; }
      body .content .item-2 .item-text {
        padding: 1%; }
        body .content .item-2 .item-text h1 {
          margin: 0%;
          color: white; }
        body .content .item-2 .item-text p {
          color: white; }
  body .footer {
    box-shadow: 1px 1px 9px;
    padding: 2% 2%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    margin-top: auto; }
    body .footer p {
      color: lightskyblue; }
