@import "config.scss";

html{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    // font-family: 'Lemonada', cursive;
    // font-family: 'Heebo', sans-serif;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    position: relative;
    background-color: rgb(10%,10%,10%);

    // background-color: white;
    .header{
        background-color: rgb(10%,10%,10%);

        
        .nav{
            padding: 0% 2%;
            margin: 0%;
            margin-top: 2%;
            background-color: rgb(10%,10%,10%);
            .main-nav{
                // background-color: red;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                .top{
                    padding-left:10% ;
                    // background-color: green;
                    flex: 1;
                    display: flex;
                    // justify-content: center;
                    .logo{
                        a{
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            margin: 0%;

                            h1{
                                margin: 0%;
                                color: white;
                                i{
                                    color: white;
                                    margin: 0%;
    
                                }
                            }
                        }
                    }
                }
                .bottom{
                    padding-bottom: 1%;
                    display: flex;
                    justify-content: center;
                    // background-color: red;

                    .left-links{
                        flex: 4;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        // background-color: green;

                        a{
                            display: flex;
                            padding: 0% 1%;
                            text-decoration: none;
                            color: white;
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                        .current{
                            color: lightskyblue;
                        }
                    }
                    .socials{
                        flex: 1;
                        margin: 0%;
                        padding: 0% 0%;
                        display: flex;
                        // background-color: blue;
                        justify-content: center;
                        align-items: center;

                        // justify-content: flex-end;
                        // background-color: rgb(10%,10%,10%);
                        a{
                            margin: 1%;
                            margin-bottom: 0%;
                            background-color: white;
                            border-radius: 5px;
                            transition: ease-in .1s;

                            &:hover{
                                background-color: rgb(10%,10%,10%);
                            }

                            i{  
                                padding:0.3rem 0.7rem;
                                color: black;
                                transition: ease-in .1s;
                                &:hover{
                                    color: lightskyblue;
                                }
                            }

                        }
                    }
                }
                
                
            }
        }
    }
    .banner{
        height: 60vh;
        background: url(../img/bed-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        .banner-text{
            margin-top: 15vh;

            .accent-title{
                margin: 0%;
                text-align: center;
                // box-shadow: 1px 1px 9px;
                border-radius: 50px;
                h1{
                    color: black;
                    span{
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .main-title{
                // box-shadow: 1px 1px 9px;
                // background-color: rgba(10%,10%,10%,.2);
                // border-radius: 50px;
                h1{
                    color: black;
                }
            }
        }
    }
    .cards{
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-self: center;
        width: 70%;
        margin: 1% 0%;
        position: relative;
        .card-1{
            margin: 1%;
            flex: 1;
            padding: 5% 5%;
            background-color: rgba(10%,10%,10%,.9);
            display: flex;
            align-items: center;
            height: 12vh;
            box-shadow: 1px 1px 9px;
            transition: ease-out .3s;
            flex-direction: column;

            &:hover{
                box-shadow: 1px 1px 9px lightskyblue;
                cursor: pointer;
            }
            i{
                color: white;
            }
            p{
                padding: 3% 0%;
                color: white;
            }
        }
        .card-2{
            margin: 1%;
            height: 12vh;
            display: flex;
            flex: 1;
            box-shadow: 1px 1px 9px;
            padding: 5% 5%;
            background-color: rgba(10%,10%,10%,.9);
            align-items: center;
            transition: ease-out .3s;
            flex-direction: column;

            &:hover{
                box-shadow: 1px 1px 9px lightskyblue;
                cursor: pointer;
            }
            i{
                color: white;
            }
            p{
                color: white;
            } 
        }
        .card-3{
            margin: 1%;
            height: 12vh;
            flex: 1;
            box-shadow: 1px 1px 9px;
            padding: 5% 5%;
            background-color: rgba(10%,10%,10%,.9);
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: ease-out .3s;
            &:hover{
                box-shadow: 1px 1px 9px lightskyblue;
                cursor: pointer;
            }
            i{
                color: white;
            }
            p{
                color: white;
            }
        }
    }
    .content{
        padding-bottom: 5%;
        padding: 2%;
        margin: 2%;
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: white 1px solid;
        border-radius: 5px;
        box-shadow: 1px 1px 9px lightskyblue;
        width: 80%;
        align-self: center;
        background-color: rgb(10%,10%,10%);

        h1{
            width: 100%;
            margin: 1%;
            color: white;
        }
        .item{
            margin: 2%;
            margin-bottom: 5%;
            width: 90%;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            .img-wrapper{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .item-text{
                padding: 1%;
                h1{
                    color: white;
                    margin: 0%;
                }
                p{
                    color: white;
                }
            }
        }
        .item-2{
            width: 90%;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            .img-wrapper{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .item-text{
                padding: 1%;
                h1{
                    margin: 0%;
                    color: white;
                }
                p{
                    color: white;
                }
            }
        }
    }
    .footer{
        box-shadow: 1px 1px 9px;
        padding: 2% 2%;
        background-color: rgb(10%,10%,10%);

        display: flex;
        justify-content: center;
        margin-top: auto;
        p{
            color: lightskyblue;
        }
    }
}















@import "mobile.scss";